.container {
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
  }
  
  .products {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .product > img {
    max-width: 100%;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }